body {
    margin: 0 auto;
    max-width: 1500px;
    align-items: center;
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
    
}




.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    text-decoration: none;
    background: rgba(128, 128, 128, 0.632);
    display: block;
    padding: 0.8rem;
    text-align: center;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family:fantasy;
    letter-spacing: .1rem;
    border: 1px black solid;
    
}

.main-nav a:hover {
    background-color: rgba(0, 0, 0, .1);
    color:darkgrey;
    transition: .5s;
    border: 1px solid darkgrey;
}

.hero {
    width: 100%;
    height: 20rem;
    background-image: url('index1/hero-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.hero-logo {
    border-top: 1px darkgrey solid;
}

.hero h1 {
    display: flex;
    font-size: 2.5rem;
    color: aliceblue;
    background-color:rgba(0, 0, 0, .8);
    width: 80%;
    height: 20%;
    margin-bottom: 0px;
    margin-top: 0px;
    background-size: cover;
    align-items: center;
    justify-content: center;
}



.hero img {
    height: 6rem;
    width: 4.5rem;
    z-index: 2;
}

.hero p {
    font-style: italic;
    color:antiquewhite;
    background-color:rgba(0, 0, 0, .8);
    width: 80%;
    text-align: center;
    height: 15%;
    margin-top: 0;
    border-bottom: 1px darkgrey solid;
}


.logo {
    height: 4rem;
    width: 100%;
    background-color: transparent;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.logo img {
    height: 4rem;
    width: 5%;
}

.container {
    display: flex;
    width: 100%;
    height: 14rem;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container div {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top: 2px silver solid;
    border-bottom: 2px silver solid;
}

.container div:hover {
    width: 17rem;
    height: 17rem;
    box-shadow: 0px 0px 20px 10px black;
    transition: .5s;

}




.container p {
    font-size: 2rem;
    font-style: italic;
    color: antiquewhite;
    display: flex;
    width: 100%;
    height: 40%;
    background-color:black;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border-top: 1px silver solid;
    border-bottom: 1px silver solid;
}



.container a {
    text-decoration: none;
    color: antiquewhite;
    background-color: black;
    padding-bottom: 2px;
    border-bottom: silver 2px solid;
}



.box1 {
    background: url("index1/fishing.jpg");
    background-size: cover;
}

.box2 {
    background: url("index1/ducking.jpg");
    background-size: cover;
}

.box3 {
    background: url("index1/handshake.jpg");
    background-size: cover;
}

.box4 {
    background: url("index1/camera.jpg");
    background-size: cover;
}

.box4-hidden {
    display: none;
}



.contact {
    width: 80%;
    margin: 0 auto;
    height: 10rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .15);
}

.contact div {
    color:antiquewhite;
    width: 30%;
    height: 10rem;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 2;
    border-bottom: silver 1px solid;
    
}


.contact a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.contact img {
    height: 5rem;
    width: 7rem;
}

.contact img:hover {
height: 6rem;
width: 8rem;
margin-bottom: 2rem;
transition: 1s;
}

#loc {
    height: 4rem;
    width: 4rem;
}

.contact img {
    max-height: 60%;
    max-width: 60%;
}



.contact p {
    text-align: center;
}

footer {
    width: 100%;
    height: 3rem;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

footer p {
    font-size: 1.6rem;
    color: darkgrey;
}

footer img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

/* About Us Page */

.hero-about {
    width: 100%;
    height: 20rem;
    background: url("index2/hero-about.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
}

.hero-about h1 {
    display: flex;
    font-size: 3.3rem;
    color:antiquewhite;
    width: 80%;
    height: 20%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, .8);
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}

.hero-about p {
    font-style: italic;
    color:antiquewhite;
    width: 80%;
    text-align: center;
    height: 15%;
    margin-top: 0;
    background-color:rgba(0, 0, 0, .8);
    background-size: cover;
    border-bottom: 1px darkgrey solid;
}

.hero-about img {
    height: 6rem;
    width: 4.5rem;
    z-index: 2;
}


.pg2margin {
    margin-left: 20px;
    margin-right: 20px;
}

.portrait {
   display: flex;
   justify-content: space-between;
}

.portrait img {
    height: 20rem;
    width: 20rem;
    background-size: cover;
}

/* contact page */

.hero-contact {
    width: 100%;
    height: 20rem;
    background: url("index4/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
}

.hero-contact h1 {
    display: flex;
    font-size: 3.3rem;
    color:antiquewhite;
    width: 80%;
    height: 20%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, .8);
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}

.hero-contact p {
    font-style: italic;
    color:antiquewhite;
    width: 80%;
    text-align: center;
    height: 15%;
    margin-top: 0;
    background-color:rgba(0, 0, 0, .8);
    background-size: cover;
    border-bottom: 1px darkgrey solid;
}

.hero-contact img {
    height: 6rem;
    width: 4.5rem;
    z-index: 2;
}


.contact-info4 {
    width: 100%;
    height:25rem;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info4-div {
    height: 80%;
    width: 40%;
    display: flex;
    color: white;
    font-family: fantasy;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    opacity: 65%;
    border: silver 1px solid;
}

.contact-info4-div:hover {
    height: 82%;
    width: 42%;
    transition: 1s;
}

.contact-info4-div p {
    height: 100%;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.call-us-header {
    font-size: 2.5rem;
    border-bottom: 1px silver solid;
}

.call-us-number {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
}

.call-us-number a {
    color: darkred;
}

.call-us-number a:hover {
    font-size: 2.1rem;
    transition: 1s;
}

/* Services Page */

.hero-services {
    width: 100%;
    height: 20rem;
    background: url("index3/handshake.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
}

.hero-services h1 {
    display: flex;
    font-size: 3.3rem;
    color:antiquewhite;
    width: 80%;
    height: 20%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, .8);
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}

.hero-services p {
    font-style: italic;
    color:antiquewhite;
    width: 80%;
    text-align: center;
    height: 15%;
    margin-top: 0;
    background-color:rgba(0, 0, 0, .8);
    background-size: cover;
    border-bottom: 1px darkgrey solid;
}

.hero-services img {
    height: 6rem;
    width: 4.5rem;
    z-index: 2;
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.services-header {
    color:antiquewhite;
    text-align: center;
    align-self: center;
    width: 80%;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.services-paragraph {
    margin: 0 auto;
    color:antiquewhite;
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background:rgba(0, 0, 0, .1);
}

.services-paragraph a {
    text-decoration: none;
    color:rgb(154, 2, 2);
    font-style: italic;
    font-size: 1.4rem;
    border: 1px silver solid;
    padding: .7rem;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .3);
}

.services-paragraph a:hover {
    font-size: 1.6rem;
    color:bisque;
    transition: 1s;
}

.fish-pics {
    width: 90%;
    height: 40rem;
    margin: 0 auto;
    background-color: 0, 0, 0, 0;
    display: flex;
    justify-content: space-around;
}

.fish-pics img {
    width: 16rem;
    height: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 1;
    margin-top: 3rem;
    border-top: 1px silver solid;
    border-bottom: 1px silver solid;
}

.fish-pics img:hover {
    width: 20rem;
    height: 14rem;
    transition: 1s;

}

.fish1 {
    background: rgba(0, 0, 0, 0.5);
    border: 2px silver solid;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.fish1 div {
    
    height:30%;
    width: 100%;
    margin-top: 2;
    margin-bottom: 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.fishbox-2 {
    flex-basis: 10%;
    color: silver;
    font-size: 3rem;
    font-style: italic;
    border-bottom: 2px silver solid;
}


.fishbox-1 {
    flex-basis: 45%;
}

.fishbox-3  {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
   
}

.fishbox-3 div {
    width: 100%;
    flex-basis: 1;
    justify-content: center;
    color: silver;
    font-size: 1.5rem;
    font-family:monospace;
    margin-left: 1rem;
    margin-right: 1rem;
}

#malard-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.malard {
    height: 8rem;
    width: 8rem;
    margin: auto 0;
}

.full-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}
.full-text div {
    border: 1px silver solid;
    color: silver;
    background-color:rgba(0, 0, 0, .6);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 100%;
    width: 30%;
    letter-spacing: .5rem;
}

.short-text {
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    
}

.short-text div {
    border: 1px silver solid;
    color: silver;
    background-color:rgba(0, 0, 0, .6);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 100%;
    width: 30%;
    min-width: 14rem;
    letter-spacing: .5rem;
}

.short-text div:hover,
.full-text div:hover {
    width: 35%;
    height: 110%;
    background-color: silver;
    color: black;
    border: black 1px solid;
    box-shadow: 0px 0px 10px 10px black;
    opacity: .6;
    transition: 1s;
}

.short-text a,
.full-text a {
    display:  flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}



@media screen and (max-width: 550px) {
    .main-nav ul {
        display: flex;
        flex-direction: column;
        
    }

    .main-nav a {
        border-radius: 25px;
        background-color: rgba(0, 0, 0, .1);
        color:darkgrey;
        transition: .5s;
        border: 1px solid darkgrey;
        letter-spacing: .5rem;
    }
}

@media screen and (max-width: 750px) {
        .main-nav a {
            border-radius: 25px;
        }

        .hero h1,
        .hero-about h1,
        .hero-contact h1,
        .hero-services h1 {
            font-size: 2rem;
            text-align: center;
        }
}

@media screen and (max-width: 470px) {
    .hero h1,
    .hero-about h1,
    .hero-contact h1,
    .hero-servces h1 {
        font-size: 1.3rem;
        
    }

    .fish-pics img {
        width: 12rem;
    }

    .fish-pics img:hover {
        width: 14rem;
    }
}

@media screen and (max-width: 1075px) and (min-width: 775px) {
    .container div {
        height: 10rem;
        width: 10rem;
    }

    .container div:hover {
        height: 12rem;
        width: 12rem;
    }

    .container {
        margin-bottom: 0;
        align-items: center;
        height: 10rem;

    }

    .hero,
    .hero-about,
    .hero-contact,
    .hero-services {
        margin-bottom: 5rem;
    }

    .contact {
        margin-top: 4rem;
    }

    
}

@media screen and (max-width: 775px) {
    .hero,
    .hero-about,
    .hero-contact,
    .hero-services {
        margin-bottom: 5rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70rem;

    }

    .container div {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 15rem;
        height: 15rem;
    }

    .contact {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 550px) {
    .contact {
        height: 30rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact img {
        min-width: 5rem;
    }
}

@media screen and (max-width: 1120px) {
    .call-us-header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 915px) {
    .call-us-header {
        font-size: 1.5rem;
    }
    .call-us-number {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 705px) {
    .contact-info4 {
        flex-direction: column;
        height: 35rem;
    }

    .contact-info4-div {
        width: 55%;
        height: 40%;
    }

    .contact-info4 div:hover {
        width: 60%;
        height: 45%;
    }
}

@media screen and (max-width: 380px) {
    .call-us-header {
        font-size: 1.2rem;
    }
    .call-us-number {
        font-size: 1.2rem;
    }

    .fish-pics {
        height: 150rem;
    }

    footer p {
        display: none;
    }
}

@media screen and (max-width: 1040px) {
    .portrait {
        flex-direction: column;
        align-items: center;
    }

    .fish-pics {
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 130rem;
        max-width: 60%;
        text-align: center;
    }

    .full-text {
        display: none;
    }

    .short-text {
        display: flex;
    }
    
}

@media screen and (max-width: 1325px) {
    .full-text div {
        letter-spacing: .1rem;
    }
}

@media screen and (max-width: 365px) {
    .fish-pics {
        height: 150rem;
    }
}